 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background: none; 
   }

   span{
    color: green;
   }


body{
    background-color: black;
    background-repeat: no-repeat;
    background-image: url(mee.jpg);
    background-size: cover;
    background-position: 100px 5px;
    align-items: center;

}

.meio{
     padding: 156px 100px 0px 100px;
     
}

.text{
    text-align: center;
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
}

.text h1{
    color: white;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;  
}

.text h2{
    color: white;
    font-family: cursive;
    margin-top: 1%;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}

header{
    display: flex;
    justify-content: space-around;
    margin-left: 0px;
    max-width: 100%;
    align-items: center;
    padding-top: 50px;
}

.cabeçalho {
    display: flex;
    gap: 5rem;
    font-family: 'Tektur';
    font-size: 135%;
    margin-top: -2%;
    margin-bottom: 3%; 
}

.cabeçalho a{
    color: white;
   
}

.cabeçalho a:hover{
    color: green;
    transition: 0.3s all;     
}

@keyframes float {
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-20px);
    }
    100%{
        transform: translatey(0px);
    }
}

.but{
    text-align: center;
    margin-top: 90px;
}

.btn{
    border: 3px solid green;
    border-radius: 10px 20px;
    background: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    font-family: 'Tektur';
    bottom: 80px;
    right: 40%;    
}

.btn:hover {
    color: black;
}

.btn::before {
    content:"";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: green;
    z-index: -1;
    transition: 0.8s;
}

.btn::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn:hover::before{
    height: 180%;
}    

@media screen and (max-width: 1001px){
     header{
        font-size: 20px;
        height: 100px;
     }
     .tela{
         display: grid;
         width: 100%;
         height: 100vh;    
     }
     body{
    
        background-color: black;
    
        background-repeat: no-repeat;
    
        background-image: url(mee.jpg);
    
        background-size: cover;
    
        background-position: right center;
        
        align-items: center;
        
     }
     
    
 }
 @media screen and (max-width: 955px){
    header{
       font-size: 20px;
       height: 100px;
    }
    .tela{
        display: grid;
        width: 100%;
        height: 100vh;
         
    }
}

@media screen and (max-width: 900px){
    header{
       font-size: 20px;
       height: 100px;
    }
    .tela{
        display: grid;
        width: 100%;
        height: 100vh;
         
    }
}

@media screen and (max-width: 834px){
    header{
       font-size: 20px;
       height: 100px;
    }
    .tela{
        display: grid;
        width: 100%;
        height: 100vh;
         
    }
}

@media screen and (max-width: 770px){
    header{
       font-size: 20px;
       height: 100px;
    }
    .tela{
        display: grid;
        width: 100%;
        height: 100vh;
    }

}
@media screen and (max-width: 705px){
    header{
       font-size: 15px;
       height: 90px;

    }
    .tela{
        display: grid;
        width: 100%;
        height: 100vh;
         
    }
}
@media screen and (max-width: 639px){
    
    .text h1{
        font-size: 18px;
       line-height: 140%;
    }
    .text h2{
        font-size: 10px;
        
    }
    .but{
        text-align: center;
        
    }
    .btn{
        font-size: 14px;
    }
}


@media screen and (max-width: 595px){
    header{
       font-size: 12px;
       height: 70px;
       font-family: 'Tektur';

    }
    .text h1{
        font-size: 15px;
       line-height: 140%;
    }
    .text h2{
        font-size: 10px;
        
    }
    
}
@media screen and (max-width: 579px){
    header{
       font-size: 12px;
       height: 70px;
       font-family: 'Tektur';

    }
    .tela{
        display: grid;
        width: 100%;
        height: 100vh;
         
    }
    
}
@media screen and (max-width: 529px){
    header{
       font-size: 12px;
       height: 70px;
       font-family: 'Tektur';

    }
    .text h1{
        font-size: 13px;
       line-height: 140%;
    }
    .text h2{
        font-size: 10px;
        
    }
    
}
@media screen and (max-width: 515px){
    header{
       font-size: 10px;
       height: 50px;
       font-family: 'Tektur';
    }
    body{
        background-position: 80%;
    }
    
    .tela{
        
        display: grid;
        width: 100%;
        height: 100vh;
         
    }
    
    .btn{
        bottom: 10%;
       right: 100px;
      
    }
}
@media screen and (max-width: 483px){
    header{
       font-size: 11px;
       height: 50px;
       

    }
    .cabeçalho{
        gap: 2rem;
        font-family: 'Tektur';
    }
    .tela{
        display: grid;
        width: 100%;
        height: 100vh;
         
    }
    .meio{
       padding: 20px 0px 0px 20px;
    }
    .btn{
        font-size: 15px;
        bottom: 10%;
       right: 100px;
      
    }
}


@media screen and (max-width: 412px){
   
    header{
    font-size: 11px;
    display: flex;
    justify-content: space-around;
    margin-left: 5%;
    height: 100px;
    max-width: 100%;
    align-items: center;
    padding-top: 10px;
  
   }
   .cabeçalho {
    display: flex;
    gap: 2rem;
    font-family: 'Tektur';
    font-size: 130%;
    margin-top: -5%;
    margin-bottom: 1%; 
}
body{
    background-position: 80%;
}
   
    .meio{
        padding: 20px 0px 0px 10px;
        
    }
    .btn{
        top: 50px;
        right: 10px;
        font-size: 13px;
        padding: 10px 20px;
    }
    .text h1{
        font-size: 13px;
    }
    .text h2{
        font-size: 9px;
    }
}
@media screen and (max-width: 373px){
    header{
       font-size: 10px;
       height: 70px;
       font-family: 'Tektur';
       padding-right: 10px;
       

    }
    .cabeçalho{
        gap: 30px;
      font-family: 'Tektur';
      
    }
    .meio{
        padding: 10px 10px 0px 20px;
    }
    .text h1{
        font-size: 11px;
        
       line-height: 140%;
    }
    .text h2{
        font-size: 10px;
        
    }
    
}
@media screen and (max-width: 340px){
    header{
       font-size: 9px;
       height: 70px;
       font-family: 'Tektur';
       padding-right: 10px;
       

    }
    .cabeçalho{
        gap: 30px;
      font-family: 'Tektur';
      
    }
@media screen and (max-width: 321px){
    header{
       font-size: 8px;
       height: 70px;
       font-family: 'Tektur';
       padding-right: 10px;
       

    }
    .cabeçalho{
        gap: 1rem;
      font-family: 'Tektur';
      
    }
    .meio{
        padding: 10px 10px 0px 20px;
    }
    .text h1{
        font-size: 11px;
        
       line-height: 140%;
    }
    .text h2{
        font-size: 10px;
        
    }
    
}


@media screen and (max-width: 310px){
    body{
        background-position: 80%;
    }
    .cabeçalho{
        font-family: 'Tektur';
    }

    }
@media screen and (max-width: 286px){
    header{
       font-size: 8px;
       font-family: 'Tektur';

    }
    body{
        background-position: 80%;
    }
    .cabeçalho{
        font-family: 'Tektur';
    }

    .tela{
        display: grid;
        width: 100%;
        height: 100vh;
         
    }
    .meio{
       padding: 20px 0px 0px 20px;
    }
    .btn{
        font-size: 15px;
        bottom: 10%;
       right: 3%;
      
    }
    .text h1{
        font-size: 10px;
    }
    .text h2{
        font-size: 9px;
    }
}
@media screen and (max-width: 261px){
    header{
       font-size: 9px;
       height: 25px;
    }
    .cabeçalho{
        font-family: 'Tektur';
        font-size: 10px;
        margin-top: 10px;
    }
   
    .text h1{
        font-size: 10px;
    }
    .text h2{
        font-size: 9px;
    }
    body{
        background-position: 80%;
    }
    .btn{
        font-size: 11px;
        bottom: 10%;
       right: 3%;
      
    }
}
@media screen and (max-width: 242px){
    header{
       
       height: 25px;    

    }
    .cabeçalho{
        font-family: 'Tektur';
        font-size: 9px;
    }
   .btn{
    font-size: 6px;
   }
    .text h1{
        font-size: 7px;
        padding-right: 50px;
    }
    .text h2{
        font-size: 5px;
        
    }
    body{
        background-position: 80%;
    }
}
@media screen and (max-width: 202px){
    header{
       font-size: 6px;
       height: 25px;
       

    }
    .cabeçalho{
        font-family: 'Tektur';
    }
   .btn{
    font-size: 8px;
   }
    .text h1{
        font-size: 10px;
    }
    .text h2{
        font-size: 9px;
    }
    body{
        background-position: 80%;
    }
}
@media screen and (max-width: 193px){
    header{
       font-size: 5px;
       height: 25px;
       

    }
    .cabeçalho{
        font-family: 'Tektur';
    }
   .btn{
    font-size: 8px;
   }
    .text h1{
        font-size: 10px;
    }
    .text h2{
        font-size: 9px;
    }
    body{
        background-position: 80%;
    }
}

